@using Microsoft.AspNetCore.Components.Routing

<nav class="navx">
    <div class="navx-inner">

        <a href="/" class="navx-brand">
            031 · BlazorZahlraten
        </a>

        <div class="navx-links">
            <NavLink href="game"
                     Match="NavLinkMatch.All"
                     class="navx-link">
                Zahlraten
            </NavLink>
        </div>

    </div>
</nav>
